# Introduction to Scikit-Learn(sklearn)

This notebook demonsstrates some of the most useful function of the
beautiful Scikit-Learn library.

What we're going to cover:

0. An end-to-end Scikit_Learn workflow
1. Getting the data ready
2. Choose the right estimator/algorithm for our problem
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluating models
5. Improve a model
6. Save and load a trained model
7. Putting all togather

## 0. An end-to-end Scikit-Learn workflow

In [2]:
import numpy as np

In [3]:
# 1. Get the data ready
import pandas as pd
heart_disease = pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
# create x (feature matrix)
x = heart_disease.drop("target", axis=1)

# create  (lables)
y = heart_disease["target"]

In [5]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100)

# we'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [6]:
# 3. Fit the mdoel to the training data
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [7]:
clf.fit(x_train, y_train)

RandomForestClassifier()

In [8]:
# make a prediction
y_preds = clf.predict(x_test)
y_preds

array([0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [9]:
y_test

112    1
7      1
71     1
198    0
94     1
      ..
165    0
214    0
294    0
282    0
180    0
Name: target, Length: 61, dtype: int64

In [10]:
# 4. Evaluate the model
clf.score(x_train, y_train)

1.0

In [11]:
clf.score(x_test, y_test)

0.8688524590163934

In [12]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
190,51,0,0,130,305,0,1,142,1,1.2,1,0,3
110,64,0,0,180,325,0,1,154,1,0.0,2,0,2
60,71,0,2,110,265,1,0,130,0,0.0,2,1,2
286,59,1,3,134,204,0,1,162,0,0.8,2,2,2
75,55,0,1,135,250,0,0,161,0,1.4,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,47,1,2,108,243,0,1,152,0,0.0,2,0,2
117,56,1,3,120,193,0,0,162,0,1.9,1,0,3
44,39,1,2,140,321,0,0,182,0,0.0,2,0,2
263,63,0,0,108,269,0,1,169,1,1.8,1,2,2
150,66,1,0,160,228,0,0,138,0,2.3,2,0,1

In [13]:
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
112,64,0,2,140,313,0,1,133,0,0.2,2,0,3
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3
71,51,1,2,94,227,0,1,154,1,0.0,2,1,3
198,62,1,0,120,267,0,1,99,1,1.8,1,2,3
94,45,0,1,112,160,0,1,138,0,0.0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,67,1,0,160,286,0,0,108,1,1.5,1,3,2
214,56,1,0,125,249,1,0,144,1,1.2,1,1,2
294,44,1,0,120,169,0,1,144,1,2.8,0,0,1
282,59,1,2,126,218,1,1,134,0,2.2,1,1,1
180,55,1,0,132,353,0,1,132,1,1.2,1,1,3

In [14]:
y_train

190    0
110    1
60     1
286    0
75     1
      ..
230    0
117    1
44     1
263    0
150    1
Name: target, Length: 242, dtype: int64

In [15]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.78      0.91      0.84        23
           1       0.94      0.84      0.89        38

    accuracy                           0.87        61
   macro avg       0.86      0.88      0.86        61
weighted avg       0.88      0.87      0.87        61

In [17]:
confusion_matrix(y_test, y_preds)

array([[21,  2],
       [ 6, 32]], dtype=int64)

In [19]:
accuracy_score(y_test, y_preds)

0.8688524590163934

In [23]:
# 5. Improve a model
# Try different amount of n_estimators
np.random.seed( 42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators = i).fit(x_train, y_train)
    print(f"model accuracy on test set: {clf.score(x_test, y_test) * 100: .2f}%")
    print("")

Trying model with 10 estimators...
model accuracy on test set:  85.25%

Trying model with 20 estimators...
model accuracy on test set:  90.16%

Trying model with 30 estimators...
model accuracy on test set:  88.52%

Trying model with 40 estimators...
model accuracy on test set:  88.52%

Trying model with 50 estimators...
model accuracy on test set:  88.52%

Trying model with 60 estimators...
model accuracy on test set:  83.61%

Trying model with 70 estimators...
model accuracy on test set:  88.52%

Trying model with 80 estimators...
model accuracy on test set:  86.89%

Trying model with 90 estimators...
model accuracy on test set:  86.89%

In [24]:
# 6. Save a model and load it
import pickle

pickle.dump(clf, open("random_forest_model_1.pk", "wb"))

In [27]:
loaded_model = pickle.load(open("random_forest_model_1.pk", "rb"))
loaded_model.score(x_test, y_test)

0.8688524590163934